.positioner {
  filter: var(--ds-filter-shadow-2);
}

.popup {
  max-width: 256px;
  padding: 6px 12px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--ds-gray-12);
  background: var(--ds-background-primary);
  border-radius: var(--ds-radius-full);
  transition:
    opacity var(--ds-duration-snap) var(--ds-easing-standard),
    transform var(--ds-duration-snap) var(--ds-easing-standard);
  -webkit-app-region: no-drag;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translateY(2px);
  }
}

.arrow {
  display: flex;
  width: 24px;
  height: 8px;

  &[data-side="top"] {
    bottom: -8px;
  }

  &[data-side="bottom"] {
    top: -8px;
    rotate: 180deg;
  }

  &[data-side="left"] {
    right: -16px;
    rotate: -90deg;
  }

  &[data-side="right"] {
    left: -16px;
    rotate: 90deg;
  }
}

.curve {
  width: 12px;
  height: 8px;
  background: var(--ds-background-primary);

  &[data-side="left"] {
    clip-path: shape(
      from 0% 0%,
      curve to 100% 100% with 50% 0% /
      50% 100%,
      vline to 0%,
      hline to 0%
    );
  }

  &[data-side="right"] {
    clip-path: shape(
      from 100% 0%,
      curve to 0% 100% with 50% 0% /
      50% 100%,
      vline to 0%,
      hline to 100%
    );
  }
}
