.root {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 550;
  line-height: 1;
  text-wrap: nowrap;
  user-select: none;
  transition: all var(--ds-duration-medium) var(--ds-easing-standard);

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-loading] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:active {
    transform: scale(0.98);
  }

  &::before {
    position: absolute;
    inset: -4px;
    pointer-events: none;
    content: "";
    border-radius: calc(var(--button-radius) + 4px);
    box-shadow: var(--ds-shadow-focus-halo);
    opacity: 0;
    transition: opacity var(--ds-duration-medium) var(--ds-easing-standard);
  }

  &:focus-visible::before {
    opacity: 1;
  }
}

.root {
  --button-radius: 100px;

  /* xs */
  --button-height-xs: 24px;
  --button-padding-xs: 0 10px;
  --button-font-size-xs: 10px;
  --button-radius-xs: 8px;

  /* sm */
  --button-height-sm: 28px;
  --button-padding-sm: 0 11px;
  --button-font-size-sm: 11px;
  --button-radius-sm: 10px;

  /* md */
  --button-height-md: 32px;
  --button-padding-md: 0 13px;
  --button-font-size-md: 13px;
  --button-radius-md: 12px;

  /* lg */
  --button-height-lg: 36px;
  --button-padding-lg: 0 15px;
  --button-font-size-lg: 15px;
  --button-radius-lg: 14px;

  &[data-size="xs"] {
    height: var(--button-height-xs);
    padding: var(--button-padding-xs);
    font-size: var(--button-font-size-xs);
    border-radius: var(--button-radius);
  }

  &[data-size="sm"] {
    height: var(--button-height-sm);
    padding: var(--button-padding-sm);
    font-size: var(--button-font-size-sm);
    border-radius: var(--button-radius);
  }

  &[data-size="md"] {
    height: var(--button-height-md);
    padding: var(--button-padding-md);
    font-size: var(--button-font-size-md);
    border-radius: var(--button-radius);
  }

  &[data-size="lg"] {
    height: var(--button-height-lg);
    padding: var(--button-padding-lg);
    font-size: var(--button-font-size-lg);
    border-radius: var(--button-radius);
  }
}

.root {
  &[data-icon] {
    aspect-ratio: 1 / 1;

    &[data-size="xs"] {
      padding: 4px;
    }

    &[data-size="sm"] {
      padding: 6px;
    }

    &[data-size="md"] {
      padding: 8px;
    }

    &[data-size="lg"] {
      padding: 10px;
    }
  }
}

.root {
  /* primary */
  &[data-variant="primary"] {
    color: var(--ds-gray-12);
    background-color: var(--ds-background-primary);
    box-shadow:
      0 0 0 1px var(--ds-gray-3),
      0 1px 2px 0 var(--ds-gray-3);

    &:hover {
      background-color: var(--ds-gray-2);
    }

    &:active {
      background-color: var(--ds-gray-3);
    }
  }

  /* secondary */
  &[data-variant="secondary"] {
    color: var(--ds-gray-11);
    background-color: var(--ds-gray-3);

    &:hover {
      color: var(--ds-gray-12);
      background-color: var(--ds-gray-4);
    }

    &:active {
      color: var(--ds-gray-12);
      background-color: var(--ds-gray-5);
    }
  }

  /* tertiary */
  &[data-variant="tertiary"] {
    color: var(--ds-gray-11);

    &:hover {
      color: var(--ds-gray-12);
      background-color: var(--ds-gray-2);
    }

    &:active {
      color: var(--ds-gray-12);
      background-color: var(--ds-gray-3);
    }
  }

  /* accent */
  &[data-variant="accent"] {
    color: var(--ds-background-primary);
    background-color: var(--ds-accent-a9);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  /* danger */
  &[data-variant="danger"] {
    color: var(--ds-tomato-11);
    background-color: var(--ds-tomato-3);

    &:hover {
      background-color: var(--ds-tomato-4);
    }

    &:active {
      background-color: var(--ds-tomato-4);
    }
  }
}
